.listing {
  margin: 10vh auto;
  max-width: 80vw;
  color: white;
  transition: 0.2s;
  background-color: #464b53;
}

.listing--removed {
  filter: blur(1px) brightness(50%);
}

/* Gallery */

.listing__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 5px;
}

.listing__gallery-image-wrapper {
  width: 100%;
  height: 550px;
}

.listing__gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Info */

.listing__info {
  display: flex;
  padding: 1em 50px;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0px;
  background: #464b5385;
}

.listing__title {
  font-size: 24px;
  font-weight: 300;
  width: 50%;
  padding-right: 5vw;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.listing__price {
  font-size: 28px;
  font-weight: 600;
  width: 30%;
}

/* Menu */

.listing__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.listing__remove {
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 7, 69);
  width: 10%;
  cursor: pointer;
}

.listing__save {
  font-size: 24px;
  font-weight: 500;
  width: 10%;
  color: rgb(3, 189, 80);
  cursor: pointer;
  transition: 0.1s;
}

@media (max-width: 450px) {
  .listing__gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3px;
    padding: 3px;
  }
  .listing {
    margin: 20px auto;
    max-width: 100vw;
  }

  .listing__gallery-image-wrapper {
    width: 100%;
    height: 280px;
  }

  .listing__info {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  .listing__title {
    font-size: 12px;
    flex-grow: 1;
  }

  .listing__price {
    font-size: 14px;
    font-weight: 600;
    width: 20%;
  }

  .listing__remove {
    text-align: center;
    width: 50%;
    padding-top: 20px;

  }

  .listing__save {
    text-align: center;
    padding-top: 20px;
    width: 50%;
  }
}
